:root {
    --bg-color: #2f3136;
    --second-bg-color: #202225;
    --font-color: #dcddde;
    --block-color: #36393f;
    --hover-color: #565b65;
    --main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --second-font: 'Cambria, Cochin', 'Georgia, Times', 'Times New Roman', serif;
    --title-color: -webkit-linear-gradient(#dcddde, #48495a);
  }
  
  [data-theme="light"] {
    --bg-color: #e4e5f1;
    --second-bg-color: #9394a5;
    --font-color: #202225;
    --block-color: #dcddde;
    --hover-color: #fafafa;
  }

  html {
    overflow: scroll;
    scrollbar-width: none;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
  }
  
  body {
    background-color: var(--bg-color);
  }

  a {
    text-decoration: none;
    color: var(--font-color);
    padding: 0px;
    margin: 0px;
  }
  
  h1 {
    background: var(--title-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--main-font);
    text-align: center;
    font-size: 10vw;
    margin: 0px;
  }

  ul {
    color: var(--font-color);
    font-family: var(--main-font);
    text-align: center;
    font-size: 3vw;
    margin: 0px;
  }

  h5 {
    font-size: 200%;
    margin: 0px;
  }

  img {
    border-radius: 50px;
  }
  
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    text-align: center;
    float: left;
    width: 25%;
    padding: 0 10px;
    cursor: pointer;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: var(--block-color);
    border-radius: 50px;
    font-size: 150%;
    color: var(--font-color);
    transition: all 0.2s ease-in;
  }
  
  .card:hover {
    background-color: var(--hover-color);
    box-shadow: 2px 6px 12px 2px rgba(0, 0, 0, 0.2);
  }

  button{
    margin-top: 25px;
    background-color: var(--second-bg-color);
    color:white;
    cursor:pointer;
    font-size:5vh;
    border-color:SlateGray;
    border-radius: 32px;
    font-size: 5vh;
    padding:16px;
    width: 100%;
    transition: all 0.2s ease-in;
}

  button:hover{
      background-color: var(--hover-color);
      color: var(--font-color);
  }

  .other {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--block-color);
  }

  .container {
    display: flex;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--hover-color);
    padding: 2%;
  }
  
  .text-container {
    font-size: 2.5vw;
    padding: 20px;
    box-sizing: border-box;
    color: var(--font-color)
  }